.dialog_modal {
    position: relative;
    -webkit-box-shadow: 0 0 50px 5px #555;
    -moz-box-shadow: 0 0 50px 5px #555;
    box-shadow: 0 0 50px 5px #555;
    background: #fff;
    margin-bottom: 100px;
}

.dialog_modal .head {
    position: relative;
    cursor: move;
    height: 45px;
    width: 100%;
    background-color: #2c3e50;
    color: #fff;
    line-height: 45px;
    text-indent: 20px;
    font-size: 16px;
}

.dialog_modal .head a {
    display: block;
    color: #fff;
    background-color: #2c3e50;
    margin-right: 20px;
    font-size: 20px;
    float: right;
    cursor: pointer;
}

.dialog_modal .main-content {
    position: relative;
    background: #fff;
    max-height: 400px;
    overflow: auto;
    padding: 12px;
}

.dialog_modal .foot {
    background-color: #eee;
    border-top: 1px solid #ccc;
    padding: 12px 0 12px 150px;
}

.dialog_modal .dialog_alert {
    margin: 5px;
    min-height: 40px;
    padding: 20px;
    color: #b94a48;
    background-color: #f2dede;
}

.modal-item {
    margin: 12px 0;
    height:40px;
    clear: both;
    position:relative;
}

.modal-item label {
    display: block;
    float: left;
    width: 120px;
    line-height: 35px;
    text-align: right;
    margin-right: 15px;
    vertical-align: middle;
}

.modal-item select {
    width: 228px;
}

.modal-item input {
    float: left;
}

.modal-item .radio,
.modal-item .checkbox {
    height: 35px;
    width: 20px;
    margin: 0 5px;
}

.modal-item .item-content {
    float: left;
}
.modal-item span {
    line-height: 35px;
    float: left;
}

.alarm-ul {
    zoom: 1;
    overflow: hidden;
    font-size: 12px;
    border-bottom: 1px solid #f4f4f4;
}

.alarm-ul li {
    float: left;
    width: 100px;
    text-align: center;
    line-height: 30px;
    padding: 5px;
}

.alarm-ul li a {
    color: #333;
    display: block;
    padding: 5px;
}

.dialog_modal .hit {
    background-color: #2d92ca;
    color: #fff !important;
}

#tabPanel_alarm_policy_add .foot {
    margin: 0 -12px -12px -12px;
}
.table tr td{
  position:relative;
}
input.error,select.error{
  border:1px solid #2d92ca;
}
input.valid{
  border:1px solid #ccc;
}
.error.tooltip {  
  position: absolute;    
  display: block;  
  visibility: visible;  
  padding: 5px;  
  font-size: 12px;  
  opacity: 0;  
  filter: alpha(opacity=0); 
  line-height:15px; 
}   
.error.tooltip-inner {    
  padding: 3px 8px;  
  color: #fff;  
  text-align: left;  
  text-decoration: none;  
  background-color: #000;  
  -webkit-border-radius: 2px;  
  -moz-border-radius: 2px;  
  border-radius: 2px;  
} 
.error.tooltip::after, .tooltip::before {
    border: 1px solid transparent;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right:60%;
    width: 0;
}
.error.tooltip::after {
    border-top-color: #000;
    border-width: 2px;
    margin-bottom: 2px;
    top: 100%;
}
.error.tooltip::before {
    border-top-color: #000;
    border-width: 5px;
    margin-bottom: 5px;
    top: 100%;
}